@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	header.home-header
		.head-btns
			max-width: 100%
			a
				font-size: 3rem
				font-weight: 600
	footer.footer-wrap
		padding-top: 20px
		.container-fluid
			width: 100%
			.row
				max-width: 94%
				margin: 0 auto
				.col-lg-12
					text-align: center
					&:nth-child(1)
						text-align: center
		
// ≥992px
+media-breakpoint-down(md)
	.portfolio-section
		grid-template-columns: auto
	.portfolio-item		
			grid-area: auto!important


// ≥768px
+media-breakpoint-down(sm)
	.white-popup
		max-width: 90%
		min-height: 85%
		.descContent
			min-height: 40%
	header.home-header
		.main-menu
			ul
				padding-left: 0
				li
					margin-right: 0
		.head-btns
			max-width: 100%
			a
				font-size: 2rem
				font-weight: 600	
	section.event-section
		.collaps-slider				
			.accordion
				height: auto
				width: 100%
				ul
					li, &:hover li
						position: relative
						display: table
						table-layout: fixed
						width: 100%
						-webkit-transition: none
						transition: none
						&:hover
							position: relative
							display: table
							table-layout: fixed
							width: 100%
							-webkit-transition: none
							transition: none

// ≥576px
+media-breakpoint-down(xs)
	header.home-header
		.top-line
			.logo-container
				max-width: 80%
				margin: 0 auto
				img
					max-width: 80%
			.main-menu
				ul
					li
						font-size: 16px
						padding-bottom: 10px
						font-weight: 300
						margin-right: 0
						display: block
						&:last-child
							margin-right: 0
		.head-btns
			max-width: 100%
			text-align: center
			a
				padding-left: 0
				padding-right: 0
				font-size: 3rem
				font-weight: 600
				display: block
				&:last-child
					float: none
	.navbar
		max-width: 96%
		padding-left: 5px
		padding-right: 5px
		.logo-container
			width: 80%
			img
				width: 80%
		.navbar-toggler 
			padding: .15rem .4rem
			font-size: 1.1rem
	footer.footer-wrap
		.sec-footer-wrap
			.row
				p
					font-size: 13px	
				&:nth-child(1)
					padding-top: 10px	
	.callIn
		h1
			font-size: 20px
		span
			a
				padding: 5px 10px
				margin-top: 0	
	.portfolio-item
		p
			font-size: 20px		
		.call-btn
			padding: 5px 10px
			margin-top: 0					

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
